<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="WSDarwin"
            id="wsdarwin">
      </category>
      <command
            name="WSDL Command"
            categoryId="wsdarwin"
            id="wsdarwin.commands.WSDLCommand">
      </command>
      <command
            categoryId="wsdarwin"
            id="wsdarwin.commands.WADLCommand"
            name="WADL Command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="wsdarwin.commands.WSDLCommand"
            class="wsdarwin.handlers.WSDLHandler">
      </handler>
      <handler
            class="wsdarwin.handlers.WADLHandler"
            commandId="wsdarwin.commands.WADLCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="wsdarwin.commands.WSDLCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            commandId="wsdarwin.commands.WADLCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+7">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="WSDarwin"
               mnemonic="M"
               id="wsdarwin.menus.WSDarwin">
            <command
                  commandId="wsdarwin.commands.WSDLCommand"
                  id="wsdarwin.menus.WSDLCommand"
                  label="WSDL View"
                  mnemonic="S">
            </command>
            <command
                  commandId="wsdarwin.commands.WADLCommand"
                  id="wsdarwin.menus.WADLCommand"
                  label="WADL View"
                  mnemonic="A">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="WSDarwin Wizards"
            id="wsdarwin">
      </category>
      <wizard
            name="New Client Adapter Wizard"
            category="wsdarwin"
            class="wsdarwin.wizards.NewClientAdapterWizard"
            id="wsdarwin.wizards.NewClientAdapterWizard">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="WSDarwin"
            id="wsdarwin">
      </category>
      <view
            name="WSDL View"
            category="wsdarwin"
            class="wsdarwin.views.WSDLView"
            id="wsdarwin.views.WSDLView">
      </view>
      <view
            class="wsdarwin.views.WADLView"
            id="wsdarwin.views.WADLView"
            name="WADL View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="wsdarwin.views.WSDarwinView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.eclipse.jdt.junit.launcher.JUnitLaunchShortcut"
            id="wsdarwin.junitShortcut"
            label="JUnitShortcut.label"
            modes="run">
            <contextualLaunch>
          <enablement>
             <with variable="selection">
                <count value="1"/>
                <iterate>
                   <adapt type="org.eclipse.jdt.core.IJavaElement">
                      <test property="org.eclipse.debug.ui.matchesPattern" value="*.java"/>
                      <test property="org.eclipse.jdt.core.isInJavaProject"/>
                      <test property="org.eclipse.jdt.core.hasTypeOnClasspath" value="junit.framework.Test"/>
                   </adapt>
                </iterate>
             </with>
          </enablement>
       </contextualLaunch>
       <configurationType
             id="org.eclipse.jdt.junit.launchconfig">
       </configurationType>
       <description
             description="%RunJUnitLaunchShortcut.description"
             mode="run">
       </description>
      </shortcut>
   </extension>

</plugin>
