
body {
	background-color: white;
}

.bodyWrap {
	background-color: white;
	margin: 0 auto;
	width: 85%;
}

.textfieldWrap {
	background-color: green;
	
}

.urlTextfield {
	width: 90%;
}

.fields_input {
	margin: 0 auto;
	margin-top: 50px;
}

.textarea {
	resize: vertical;
	vertical-align: text-top;
	text-align: left;
	width: 90%;
	height: 80px;
}

.requestDetails {
	display: inline-block;
	border-style:solid;
	border-width:thin;
	border-color: #D8D8D8;
	/*background-color: yellow;*/
	width: 30%;
	padding:0;
	margin:0;
	min-height: 100px;
}

.urlRequestDiv {
	vertical-align: top;
	/*background-color: gray;*/
	margin-left: 10px;
	margin-top: 10px;
}

.wadlDiv {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	padding:0;
	margin:0;
	
}

p {
	margin: 0;
	padding: 0;
}
.wadlOutput {
	/*margin-left: 10px;
	background-color: gray;*/
	max-width: inherit;
	max-height: inherit;
	border-style:solid;
	border-width:thin;
	border-color: #D8D8D8;
	margin-bottom: 55px;
}

.optionsDiv {
	background-color: #F0F0F0;
	height: 23px;
	width: 100%;
	margin-bottom: 10px;
	overflow: hidden;
}

.compareDiv {
	background-color: #F0F0F0;
	height: 23px;
	width: 100%;
	margin-bottom: 10px;
	overflow: hidden;
}

.optionsInsideDiv {
	margin-top: 8px;
	padding-left: 8px;
}

.compareInsideDiv {
	margin-top: 8px;
	padding-left: 8px;
}

.middleRegion {
	/*background-color: black;*/
	/*margin-top: 25px;*/
	margin-top: 5px;
}

.fieldUrlDiv {
	margin-top: 2px;
	height: auto;
	overflow: auto;
	max-height: 150px;
	resize: vertical;
	padding-bottom: 10px;
	background-color: #F0F0F0;
}

.areaUrlDiv {
	background-color: gray;
	padding: 0;
	margin: 0;
	/*visibility: hidden;*/
}

.analyzeSingleURL {
	display: inline-block;
}

.singleUrlDiv {
	margin-top: 5px;
}

.urlInput {
	width: 600px;
}

.urlInput2 {
	width: 600px;
}

.outerpopup {
	visibility: hidden;
	position: relative;
	margin: 0 auto;
	width: 70%;
}

.analyzeBtn {
	/*background-image: url("/wsdarwin/images/plusBtn.png");

	background:url("/wsdarwin/images/plusBtn.png") 2px center no-repeat;
    height: 32px;
    padding: 10px 10px 10px 70px;
    height: 28px;
    width: 28px;
    padding: 0;
    margin: 0;*/
}

.saveWADLbtn {
	/*visibility: 'hidden';*/
}

.popupBig {
	background-color: white;
	position: absolute;
	width: 100%;
	top: 100px;
	height: auto;
	padding-top: 20px;
	padding-left: 15px;
	border: 1px dotted #000000;
}

.popupDiv {
	visibility: hidden;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 200px;
	height: 150px;

	border: 1px dotted #000000;
	
}

