
body {
	background-color: white;
}

p {
	margin: 0;
	padding: 0;
}

.bodyWrap {
	background-color: white;
	margin: 0 auto;
	width: 100%;
}

.menuTabs {
	margin-top: 50px;
	margin-left: 25px;
}

.tab-content {
	margin-top: 15px;
}

.textfieldWrap {
	background-color: green;
	
}

.urlTextfield {
	width: 90%;
}

.fields_input {
	margin: 0 auto;
	margin-top: 50px;
}

.textarea {
	resize: vertical;
	vertical-align: text-top;
	text-align: left;
	width: 90%;
	height: 80px;
}

.requestDetails {
	display: inline-block;
	border-style:solid;
	border-width:thin;
	border-color: #D8D8D8;
	width: 30%;
	padding:0;
	margin:0;
	min-height: 100px;
}

.urlRequestDiv {
	vertical-align: top;
	margin-left: 10px;
	margin-top: 10px;
}

.uploadAWADL {
	padding-bottom: 15px;
	display: inline-block;
	vertical-align: top;
	margin-left: 7px;
}

.uploadWADLcontent {
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: 1px solid #DDCDCD;
	display: none;
}

.uploadWADLcontentCompare {
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: 1px solid #DDCDCD;
	display: none;
}

.borderBtm {
	border-bottom: 1px solid #DDCDCD;
}

.innerUploadWADLcontent {
	padding-left: 15px;
}

.innerUploadWADLcontentCompare {
	padding-left: 15px;
}

.submitBtnDiv {
	margin-top: 10px;
	padding-bottom: 10px;
}

.compareSubmitBtnDiv {
	margin-top: 10px;
	padding-bottom: 10px;
	display: none;
}

.compareA {
	margin-bottom: 15px;
}

.compareB {
	margin-bottom: 15px;
	display: none;
}

.wadlDiv {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	padding:0;
	margin:0;
	padding-top: 10px;
	padding-left: 10px;
	background-color: #F8F8F8;
	border-top: 1px solid #DDCDCD;
	height: auto;
}

.halfwadlOutput {
	width: 50%;
	display: inline-block;
	float: right;
}

.leftInfoMenu {
	width: 20%;
	display: inline-block;
	float: right;
}

.halfDiv {
	width: 50%;
	display: inline-block;
	float: right;
}

.wadlOutput {
	max-width: inherit;
	max-height: inherit;
	margin-bottom: 55px;
}

.inlineDiv {
	display: inline;
	margin: 0;
	padding: 0;
}

.optionsDiv {
	background-color: #F0F0F0;
	height: 23px;
	width: 100%;
	margin-bottom: 10px;
	overflow: hidden;
}

.optionsInsideDiv {
	margin-top: 8px;
	padding-left: 8px;
}

.compareInsideDiv {
	margin-top: 8px;
	padding-left: 8px;
}

.middleRegion {
	margin-top: 5px;
}

.urlSelectBtn {
	height: 33px;
	width: 84px;
	margin-right: 10px;
	border-radius: 4px;
}

.addURLbtn {
	display: inline-block;
	vertical-align: top;
}

.fieldUrlDiv {
	height: auto;
	overflow: auto;
	max-height: 150px;
	resize: vertical;
	padding-bottom: 10px;
	border-bottom: 1px solid #DDCDCD;
}

.fieldCompareUrlDiv {
	height: auto;
	overflow: auto;
	max-height: 150px;
	resize: vertical;
	padding-bottom: 10px;
	border-bottom: 1px solid #DDCDCD;
}

.areaUrlDiv {
	background-color: gray;
	padding: 0;
	margin: 0;
}

.analyzeSingleURL {
	display: inline-block;
}

.singleUrlDiv {
	margin-bottom: 5px;
}

.urlInputClassA {
	width: 600px;
}

.urlInputClassB {
	width: 600px;
}

.outerpopup {
	visibility: hidden;
	position: relative;
	margin: 0 auto;
	width: 70%;
}

.analyzeBtn {

}

.saveWADLbtn {

}

.popupBig {
	background-color: white;
	position: absolute;
	width: 100%;
	top: 100px;
	height: auto;
	padding-top: 20px;
	padding-left: 15px;
	border: 1px dotted #000000;
}

.popupDiv {
	visibility: hidden;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 200px;
	height: 150px;

	border: 1px dotted #000000;
	
}

.labelo {
	font-weight: 500;
}

/* bootstrap over-writing some class attrs */

.list-group-item {
	padding: 2px 3px;
}

.hintPopup {

}

.convertToEnum {
	margin-left: 5px;
}